# Put this in ~/.gitconfig
# [include]
#     path = ~/.my-rc-files/.gitconfig

[user]
    email = 4wuyan@gmail.com
    name = WU Yan

[core]
    editor = vim

[color "status"]
    changed = red bold
    untracked = red bold
    added = green bold

[color "diff"]
    new = green bold
    old = red bold
